body{
    color: white;
    font-family: "Bitcount Grid Single";
    background-color: black;
}
img{
    width: 100%;
}
h1{
    text-align: center;
    color: red;
    font-size: 80px;
    font-variant: small-caps;
    word-spacing: 5px;
    letter-spacing: 2px;
}
h2{
    text-align: center;
    font-size: 45px;
}
h3{
    text-align: center;
    font-size: 30px;
}
nav{
    font-size: 0;
}
li{
    display: inline-block;
    width: calc(100%/2);
    padding: 0;
    margin: auto;
    text-align: center;
    font-size: 16px;
    vertical-align: top;
    list-style: none;
}
ul{
    text-align: center;
    margin: auto;
}
ol{
    font-size: 0;
    text-align: center;
    margin: auto;
    list-style: none;
}
p{
    font-size: 17px;
}
a{
    text-decoration: none;
    color: white;
}
.logo-facebook{
    width: 20px;
}
.titulolista{
    font-size: 50px;
}
