body{
    color: white;
    background-color: black;
    width: 80%;
    margin: auto;
}
h1,h2,h3,h4{
    font-family: "Bitcount Grid Single";
}
article{
    font-size: 0;
}
h1{
    text-align: center;
    color: yellow;
    font-size: 80px;
    font-variant: small-caps;
    word-spacing: 5px;
    letter-spacing: 2px;
}
h2{
    text-align: center;
    font-size: 45px;
}
h3{
    text-align: center;
    font-size: 30px;
}
nav{
    font-size: 0;
}
li{
    display: inline-block;
    font-family: "Bitcount Grid Single";
    width: calc(100%/2);
    padding: 0;
    margin: auto;
    text-align: center;
    font-size: 16px;
    vertical-align: top;
    list-style: none;
}
ul{
    text-align: center;
    margin: auto;
}
ol{
    font-size: 0;
    text-align: center;
    margin: auto;
    list-style: none;
}
p{
    font-size: 17px;
}
a{
    text-decoration: none;
    color: white;
}
.logo-facebook{
    width: 20px;
}
.titulolista{
    font-size: 50px;
}
img{
    width: calc(80%/4);
    vertical-align: middle;
    border-radius: 10px;
    display: inline-block;
    margin: 20px;
}
article{
    text-align: center;
    font-size: 0;
    clear: both;
    margin-bottom: 20px;
    display: block;
    overflow: auto;
    padding: 25px;
    transition: all 0.3s ease;
    border-radius: 15px;
}
article:hover{
    background-color: #222;
    transform: scale(1.025);
}
footer{
    clear: both;
}
img.fab{
    float: left;
    width: 250px;
    margin-right: 30px;
}
img.fab2{
    clear: left;
    float: right;
    width: 250px;
    margin-left: 30px;
}
article.fab h3{
    text-align: left;
}
article.fab2 h3{
    text-align: right;
}
article p{
    font-family: sans-serif;
    color: #ddd;
    text-align: left;
    line-height: 1.6;
}
article.fab2 p{
    text-align: right;
}
